<!-- <div class="card mx-auto text-center border-0 shadow-lg" style="max-width: 20rem;">
    <img src="assets/logo.jpg" class="card-img-top rounded-circle border-light" alt="My Pic">
    <div class="card-body text-light bg-dark">
        <h5 class="card-title">PinguCoder</h5>
        <p class="card-text">
            A Personal Blog created with me.<br>
            You can check Articles for Projects.<br>
            Contact me <strong>contact@pingucoder.com</strong>
        </p>
    </div>
</div> -->

<!-- <div class="card mx-auto text-center border border-primary rounded-lg shadow-lg" style="width: 18rem; transition: transform 0.3s ease-in-out;">
    <img src="assets/logo.jpg" class="card-img-top rounded-circle border border-light" alt="My Pic">
    <div class="card-body">
        <h5 class="card-title">PinguCoder</h5>
        <p class="card-text">
            A Personal Blog created with me.<br>
            You can check Articles for Projects.<br>
            Contact me <strong>contact@pingucoder.com</strong>
        </p>
    </div>
</div> -->

<!-- 
<div class="card mx-auto text-center border border-primary rounded-lg shadow-lg" style="width: 18rem;">
    <img src="assets/logo.jpg" class="card-img-top rounded-circle border border-light" alt="My Pic">
    <div class="card-body">
        <h5 class="card-title">PinguCoder</h5>
        <p class="card-text">
            A Personal Blog created with me.<br>
            You can check Articles for Projects.<br>
            Contact me <strong>contact@pingucoder.com</strong>
        </p>
    </div>
</div>

<style>
    .card:hover {
        transform: scale(1.05);
        transition: all 0.5s ease-in-out;
    }
    .card:hover img {
        transform: rotate(360deg);
        transition: all 0.5s ease-in-out;
    }
</style> -->


<div class="card mx-auto text-center border border-primary rounded-lg shadow-lg bg-secondary" style="width: 18rem;">
    <img src="assets/logo.jpg" class="card-img-top rounded-circle border border-light" alt="My Pic">
    <div class="card-body">
        <h5 class="card-title text-light">PinguCoder</h5>
        <p class="card-text text-light">
            A Personal Blog created with me.<br>
            You can check Articles for Projects.<br>
            Contact me <strong>contact@pingucoder.com</strong>
        </p>
    </div>
</div>

<style>
    .card:hover {
        transform: scale(1.05);
        transition: all 0.5s ease-in-out;
    }
    .card:hover img {
        transform: rotate(360deg);
        transition: all 0.5s ease-in-out;
    }
</style>





